body {
	margin: 0 auto;
	background-color: #f1f5fe;
	color: #314F57;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	min-width: 320px;
	min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
 	min-height: calc(var(--vh, 1vh) * 100);
}
.popup {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.2);
	text-align: center;
	overflow-y: auto;
	vertical-align: middle;
	z-index: 100;

}
.popup:before {
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.popup__modal {
	display: inline-block;
	background: #FFFFFF;
	border-radius: 12px;
	padding: 24px 40px;
}
.popup__hed {
	font-weight: 600;
	font-size: 16px;
}
.popup__flex {
	margin-top: 16px;
	display: flex;
	align-items: center;
}
.popup__button1 {
	margin-right: 16px;
	font-weight: 600;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #24C1EA;
	padding: 13px 0;
	text-align: center;
	width: 152px;
}
.popup__button2 {
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	background-color: #24C1EA;
	padding: 13px 0;
	text-align: center;
	width: 152px;
	border-radius: 6px;
}	
.aside {
	border-radius: 0px 16px 16px 0px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    z-index: 100;
    height: 100vh;
    min-height: 810px;
    box-sizing: border-box;
    padding: 56px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.aside__link {
	width: 49px;
	height: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}
.aside__line {
	margin-bottom: 29px;
}
.aside__line_bottom {
	margin-bottom: 0;
}
main {
	min-width: 320px;
	max-width: 1440px;
	padding-left: 144px;
	padding-right: 20px;
	box-sizing: border-box;
}
.header {
	max-width: 1440px;
	padding: 0 40px;
	padding-top: 40px;
	padding-bottom: 42px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 146px;
	padding-right: 40px;
	box-sizing: border-box;
}
.header__left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header__right {
	position: relative;
	width: 343px;
	display: none;
}
.header__serch {
	height: 42px;
	line-height: 42px;
	padding-left: 44px;
	padding-right: 12px;
	font-weight: 600;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 6px;
	border: 0;
}
.header__serch:focus {
	border: 0;
}
.header__svg {
	position: absolute;
	left: 16px;
	top: 11px;
}
.header__border-numb {
	width: 50px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #BAD1D7;
	border-radius: 6px;	
	font-weight: 500;
	font-size: 20px;
}
.header__second {
	font-size: 30px;
	color: #24C1EA;
	margin: 0 8px;
	padding-bottom: 5px;
}
.header__date-time {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 16px;
	padding: 20px;
}
.header__time {
	display: flex;
	align-items: center;	
}
.header__date-bl {
	margin-left: 15px;
}
.header__date {
	font-weight: 600;
	font-size: 14px;
}
.header__date_weekday {
	margin-bottom: 4px;
}
.header__controller {
	font-weight: 600;
	font-size: 14px;
	margin-left: 15px;
}
.header__vercion {
	margin-top: 4px;	
}
.title {
	font-weight: 600;
	font-size: 28px;
}
.user__title {
	margin-bottom: 28px;
}
.sub-title {
	color: #8695B1;
	font-size: 20px;
	font-weight: 500;
}
.user__flex {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.user__input {
	margin-right: 8px;
}
.pass__input {
	margin-right: 12px; 
}
.input {
	background: #FFFFFF;
	border: 1px solid #BAD1D7;
	box-sizing: border-box;
	padding: 0 12px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 4px;
	font-weight: 500;
	color: #314F57;
	line-height: 1;
}	
input.input::placeholder {
	color: #BAD1D7;
}
.user__input, .pass__input {
	width: 207px;
	height: 33px;
	line-height: 33px;
}
.button1 {
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	background-color: #24C1EA;
	border-radius: 6px;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button1:active {
	background-color: #65DB3B;
}
.user__button {
	width: 186px;
	height: 33px;
}
input:focus {
	border: 1px solid #314F57;
}
.home__nav {
	margin-top: 25px;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.nav__btt {
	margin-right: 9px;
	font-weight: 600;
	font-size: 18px;
	
	width: 309px;
	text-align: center;
}

.nav__name {
	border-radius: 8px;
	background-color: #fff;
	padding: 18px 0;
	position: relative;
	z-index: 99;
}
.nav__option {
	padding: 18px 0;
}
.nav__option_top {
	padding-top: 30px;
}
.nav__option_active {
	background-color: #DFF9FF;
}
.nav__option_bott {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.nav__select {
	display: none;
	background-color: #fff;
	border-radius: 12px;
	margin-top: -12px;
}

.nav__btt_active {
	background-color: #FFF59F;
}
.home__table {
	display: none;
	margin-top: 24px;
	align-items: flex-start;
	justify-content: flex-start;
}
.table__name {
	font-weight: 600;
	font-size: 18px;
}
.table__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
    height: 40px;
	background-color: #fff;
}
.table__colum {	
	font-weight: 500;
	font-size: 14px;
}
.table__top-row .table__colum {
	font-weight: 600;
}
.table__table {
	margin-top: 17px;
}
.table__top-row {
	background-color: #C8E9F2;
	border-radius: 6px 6px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	height: 40px;
}
.table__colum_btt1 {
	margin: 0 8px;
	width: 23px;
}
.table__colum_btt3 {
	width: 73px;
}
.table__colum_btt4 {
	width: 95px;
}
.table__colum_btt5 {
	width: 95px;
}
.table__colum_btt6 {
	width: 89px;
}
.table__label-btt1 {
	cursor: pointer;
}
.table__check-btt1 {
	display: none;
}
.table__colum_btt8 {
	width: 22px;
}
.table__colum_btt9 {
	width: 26px;
}
.table__active .table__fill-btt1 {
   fill: #65DB3B;
   opacity: 0.4;
}
.table__active .table__fill-btt1_opacity {
	opacity: 1;
}
.table__colum_btt10 {
	width: 22px;
}

.home__flex {
	margin-right: 9px;
	max-width: 245px;
	width: 100%;
}
.home__table_2 {
	display: none;
}
.home__flex_2 {
	max-width: 620px;
}
.home__flex_3 {
	max-width: 945px;
}
.table__colum_3 {
	width: 599px;
	text-align: left;
}
.home__table_3 {
	display: none;
	justify-content: flex-start;
}
.panel__nav {
	margin-top: 25px;
}
.panel__table {
	display: none;
	align-items: flex-start;
	justify-content: flex-start;
}
.panel__table {
	margin-top: 24px;
}
.panel__flex_1, .panel__flex_2 {
	max-width: 400px;
	width: 100%;
}
.panel__flex_2 {
	margin-left: 16px;
}
.edit {
	display: flex;
	justify-content: flex-end;
}
.edit__input {
	opacity: 0.6;
	border: 1px solid #314F57;;
	box-sizing: border-box;
	border-radius: 6px;
	background: #FFFFFF;
	color: #314F57;
	width: 63px;
	height: 28px;
	text-align: center;
	font-weight: 500;
}
.edit__block {
	cursor: pointer;
	margin-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #C8E9F2;
	border-radius: 6px;
	width: 28px;
	height: 28px;
}
.edit__block_active {
	background: #24C1EA;
}
.edit__input:focus {
	opacity: 1;
}
.panel__table_1 .table__colum {
	flex: 0 0 36.5%;
}
.table__colum_right {
	flex: 0 0 27%!important;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 19px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
	content: "";
    position: relative;
    top: -2px;
    left: -1px;
    width: 42px;
    height: 24px;
    display: block;
    background: #BAD1D7;
    border-radius: 27px;
    transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;

  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}
.center {
	padding-left: 4px;
}
.cdx:checked + .toggle:before {
  background: #65DB3B;
}
.cdx:checked + .toggle span {
  background: #fff;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.cdx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.panel__flex_3 {
	max-width: 355px;
	width: 100%;
}
.table__colum_left {
	text-align: left;
	width: 202px;
}
.table__input-opac {
	width: 200px;
	height: 28px;
	padding: 10px 12px;
	border: 1px solid #314F57;
	box-sizing: border-box;
	border-radius: 6px;
	font-weight: 500;
	font-size: 12px;
	border: 1px solid #314F57;
	color: #314F57;
	opacity: 0.6;
}
.table__input-opac:focus {
	opacity: 1;
}
.network__title {

}
.network__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFFFFF;
	border-radius: 8px;
	padding: 10px 16px;
	padding-left: 24px;
	margin-top: 16px;
	width: 465px;
	box-sizing: border-box;
}
.network__column {
	
}
.network__name {
	flex-grow: 1;
	font-weight: 600;
	font-size: 14px;
}
.network__button {
	height: 32px;
	width: 152px;
	margin-left: 12px;

}
.network__input {
	height: 32px;
	font-weight: 500;
	font-size: 12px;
	color: #BAD1D7;
	width: 177px;
	line-height: 32px;
}
.network__input:focus {
	border: 1px solid #BAD1D7;
}
.network___flex {
	margin-top: 17px;
}
.network__button_save {
	display: none;
}
.network__row_edit input {
	border: 1px solid #314F57;
	color: #314F57;
}
.network__row_edit .network__button_edd {
	display: none;
}
.network__row_edit .network__button_save {
	display: flex;
	background-color: #65DB3B;
}
.network__row_edit .network__input:focus {
	border: 1px solid #314F57;
}

.network__button_dis {
	background-color: #CFD0D5;
}
.network__name_dis {
	color: #CFD0D5;
}
.network__column_right {
	margin-left: 16px;
}
.network___flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.notices__new {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 32px;
    margin-top: 32px;
    display: inline-block;
    box-sizing: border-box;
}
.notices__inp {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.notices__new-title {
	font-weight: 600;
	font-size: 20px;
}
.notices__input {
	width: 177px;
	padding: 3px 12px;
	height: 32px;
	line-height: 32px;
}
.notices__input_right {
	margin-left: 8px;
}
.notices__button {
	height: 32px;
	width: 152px;
}
.notices__button  {
	margin-left: 12px;
}
.notices__colum-4 {
	display: flex;
}
.table__button-row_cent {
	margin-left: 16px;
	margin-right: 20px;
}
.table__button-row  {
	width: 184px;
	height: 32px;
}
.notices__button-row {
	width: 184px;
	height: 32px;
}
.notices__colum-1 {
	flex: 0 0 8%;
}
.notices__colum-2 {
	flex: 0 0 35%;
}
.notices__colum-3 {
	flex: 0 0 22%;
}
.notices__colum-4 {
	flex: 0 0 35%;
}
.table__overflow {
	max-height: 417px;
	overflow-y: auto;
}
.table__overflow1 {
	max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
}
.notices__colum-1 {
	font-weight: 600;
}
.table__rename {
	display: none;
}
.table__rename-inp {
	border: 0;
	border-bottom: 1px solid #000;
	width: 379px;
	color: #314F57;
	padding: 4px 0;
	font-weight: 500;
}
.table__rename-inp:focus {
	border: 0;
	border-bottom: 1px solid #000;
}
.table__row_active .table__rename {
	display: block;
}
.table__row_active .table__static {
	display: none;
}
.table__row_active .table__btt-statick {
	display: none;
} 
.table__btt-rename {
	display: none;
}
.table__row_active .table__btt-rename {
	display: flex;
	background-color: #65DB3B;
}
.table__rename-inp_mini {
	width: 212px;
}
.notices__table {
	max-width: 1263px;
}
.notices__flex .table__table {
	display: block;
}
/*.table__colum {
	flex: initial;
}
.table__rename {
	width: 250px;
	flex-grow: initial;
}
.table__rename-inp {
	width: 335px;
}*/
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:rgb(200, 233, 242);
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}

.panel-act, .function-act, .notices-act {
	display: none;
}
.function__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.function__button {
	width: 166px;
	height: 32px;
}
.function__button:before {
	content: "";
	background: url("/img/plus.svg");
	width: 17px;
	height: 17px;
	margin-right: 6px;
}
.popup1 {
	align-items: center;
	justify-content: center;
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.2);
	text-align: center;
	overflow-y: auto;
	vertical-align: middle;
	z-index: 100;
}
.popup1:before {
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.popup__modal1 {
	display: inline-block;
	background: #FFFFFF;
	border-radius: 12px;
	padding: 32px;
}
.popup__hed1 {
	font-weight: 600;
	font-size: 20px;
	text-align: left;
}
.popup__flex1 {
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.popup__butt1 {
	width: 166px;
	height: 32px;
}
.popup__butt1:before {
	content: "";
	background: url("/img/plus.svg");
	width: 17px;
	height: 17px;
	margin-right: 6px;
}
.popup__input1 {
	height: 32px;
	width: 380px;
	margin-right: 8px;
}
.function {
	padding-right: 40px;
}
.function__content {
	margin-top: 32px;
	overflow-y: auto;
	max-height: 582px;
	min-height: 582px;
}
.function__row {
	padding: 15px 32px;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 20px;
	&:first-child {
		margin-top: 0px;
	}
	&:last-child {
		margin-bottom: 20px;
	}
}
.function__hed {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.function__btt {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 105px;
	width: 100%;
}
.function__name {
	font-weight: 600;
	font-size: 18px;
}
.function__rename {
	max-width: 574px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #000;
	font-weight: 600;
	font-size: 18px;
	color: #314F57;
	padding: 4px 0;
	display: none;
}
.function__svg_act {
	display: none;
}
.function__rename:focus {
	border: 0;
	border-bottom: 1px solid #000;
}
.function__row_rename .function__name {
	display: none;
}
.function__row_rename .function__rename {
	display: block;
}
.function__row_rename .function__svg_dis {
	display: none;
}
.function__row_rename .function__svg_act {
	display: block;
}
.function__row_rename .function__seting {
	display: none;
}
.function__seting {
	margin-top: 20px;
	display: none;
	.select1 {
		margin-right: 12px;
		width: 222px;
		display: inline-block;
    	vertical-align: top;
		&.mini {
			width: 116px;
		}
		@media (max-width: 1315px) {
			margin-top: 13px;
		}
		@media (max-width: 670px) {
			flex-grow: 1;
			margin-left: 4px;
			margin-right: 4px;
			select {
				font-size: 14px;
				font-weight: 500;
				padding: 6px 12px;
			}
		}
	}
}
.inputs__inp-min_mr1 {
	margin-right: 4px;
}
.function__row-name {
	font-weight: 500;
	font-size: 16px;
	margin-top: 24px;
}
.function__row-name {
	font-weight: 500;
	font-size: 16px;
}
.function__in {
	margin-top: 18px;
}
.select {
	font-weight: 600;
	font-size: 12px;
	border: 1px solid #314F57;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 9px 12px;
	width: 222px;
	height: 32px;
	background: #FFF496;
	position: relative;
	cursor: pointer;
	margin-right: 12px;
}
.select:after {
	content: "";
    background: url(/img/patch.svg);
    width: 9px;
    height: 5px;
    position: absolute;
    right: 13px;
    top: 14px;
}
.select__option {
	font-weight: 500;
	font-size: 12px;
}
.select__posit {
	display: none;
	position: absolute;
	top: 30px;
	left: -1px;
	z-index: 99;
	width: 100%;
	background-color: #fff;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid #BAD1D7;
	overflow-y: auto;
	max-height: 128px;
}
.select__posit_checked {
	overflow-y: initial;
	max-height: 167px;
}
.select__posit-check {

	overflow-y: auto;
	max-height: 135px;
}
.select__option {
	height: 32px;
	padding: 9px 11px;
	box-sizing: border-box;
	cursor: pointer;
}
.select__option:active {
	background: #DFF9FF;
}
.select__option_btt:active {
	background-color: rgb(101, 219, 59);
}
.button0 {
	border: 2px solid #1CB2D9;
	box-sizing: border-box;
	border-radius: 6px;
	text-align: center;
	color: #1BAFD6;
	font-weight: 500;
	font-size: 12px;
}
.function__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 44px;
}
.function__btt1 {
	width: 186px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
}
.function__btt2 {
	width: 186px;
	height: 33px;
}

.function__in {
	display: flex;
}
.function__select_mini {
	width: 116px;
}
.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputs__inp {
	margin-right: 4px;
	border-radius: 6px;
}
.inputs__txt {
	margin-right: 4px;
	font-weight: 500;
	font-size: 12px;	
}
.inputs__inp {
	height: 32px;
	width: 102px;
	line-height: 32px;
}
.inputs__inp-min {
	text-align: center;
	font-weight: 500;
	height: 32px;
	line-height: 32px;
	width: 50px;
	border-radius: 6px;
}
.function__select_mini2 {
	max-width: 178px;
}
.function__select_mini3 {
	max-width: 135px
}
.select__checkbox {
	display: none;
}
.select__option_label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.select__border {
	border: 1px solid #BAD1D7;
	border-radius: 3px;
	width: 14px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	box-sizing: border-box;
}
.select__svg {
	display: none;
}
.inputs__inp-min_mar {
	margin-right: 4px;
}
.select__checkbox:checked + .select__border > .select__svg {
	display: block;
}
.select__checkbox:checked + .select__border {
	border: 1px solid #24C1EA;
}
.select__option_btt {
	border-radius: 0;
}
.function__inputs {
	display: flex;

}
.function__rel {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.function__inputs_mar {
	margin-right: 8px;
}
.function__select_mini4 {
	max-width: 232px;
}
.function__select_mini5 {
	max-width: 202px;
}
.function__select_mini6 {
	max-width: 158px;
}
.function__select_right {
	margin-right: 0;
}
.function__inp-max {
	width: 177px;
	height: 32px;
	line-height: 32px;
	margin-right: 4px;
}
.function__message {
	margin-left: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.function__btt-mess {
	margin-right: 8px;
	height: 32px;
	width: 152px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.function__btt-mess_gree {
	background: #65DB3B;
}
.function__btt-mess_orange {
	background: #FF734C;
}
.function__btt-mess_gree1 {
	color: #65DB3B;
	border: 1px solid #65DB3B;
}
.function__btt-mess_orange1 {
	color:  #FF734C;
	border:  1px solid #FF734C;
}
.login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
    height: 100vh;
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login:before {
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.login__content {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	max-width: 499px;
	height: 424px;
	background-color: #fff;
	border-radius: 8px;
	padding: 56px 96px;
	box-sizing: border-box;
	width: 100%;
}
.login__logo {
	margin-bottom: 24px;
	text-align: center;
}
.login__name {
	font-weight: 500;
	font-size: 14px;
	margin-top: 14px;
}
.login__input {
	width: 100%;
	padding: 17px 12px;
	font-weight: 500;
	font-size: 14px;
	margin-top: 12px;
	height: 43px;
	line-height: 43px;
	border: 1px solid #C2CAD6;
	box-sizing: border-box;
	border-radius: 3px;
}
.login__input:focus {
	border: 1px solid #24C1EA;
}

input.login__input::placeholder {
	color: #C2CAD6;
}
.login__button {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border-radius: 4px;
}
.login__txt {
	font-weight: 500;
	font-size: 14px;
	margin-left: 10px;
}
.login__svg {
	display: none;
}
.login__border {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	border: 1px solid #BAD1D7;
}
.login__label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 16px;
}
.label__checkbox {
	display: none;
}
.label__checkbox:checked + .login__border > .login__svg {
	display: block;
} 
.aside__mobail {
	opacity: 0;
	display: none;
}
.home__flex_non {
	margin-right: 0;
}
.home__table_active {
	display: flex;
}
.panel__table_active {
	display: flex;
}
.notices__table-mob {
	display: none;
	margin-top: 25px;
	align-items: flex-start;
	justify-content: space-between;
	border-radius: 8px;
	background-color: #fff;
}
.notices__col-hed_1 {
	border-top-left-radius: 8px;
}
.notices__col-hed_3 {
	border-top-right-radius: 8px;
}
.notices__txt_1 {
	padding-left: 20px;
	padding-right: 20px;
}
.notices__txt_2 {
	padding-left: 10px;
}
.notices__txt {
	font-weight: 600;
	font-size: 14px;
}
.notices__col-hed {
	height: 47px;
	line-height: 47px;
	background-color: #C8E9F2;
}
.notices__col {
	flex-grow: 1;
}

.notices__numb {
	text-align: left;
	padding-left: 20px;
	margin-top: 22px;
	font-weight: 500;
	font-size: 14px;
}
.notices__close {
	text-align: right;
	padding-right: 20px;
	margin-top: 20px;
	padding-left: 10px;
}
.notices__content {
	margin-top: 20px;
	padding-bottom: 25px;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-grow: 1;
}

.notices__tel {
	margin: 14px 0;
	font-weight: 500;
	font-size: 14px;
	color: #314F57!important;
}
.notices__name {
	font-weight: 500;
	font-size: 14px;
}
.notices__inp-name {
	display: none;
	font-weight: 500;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #000;
	border-radius: 0;
	padding: 0;
	width: 95%;
}
.notices__inp-tel {
	display: none;
	font-weight: 500;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #000;
	border-radius: 0;
	padding: 0;
	width: 95%;
	max-width: 130px;
	margin: 14px 0;
}
.notices__inp-tel:focus {
	border: 0;
	border-bottom: 1px solid #000;
}
.notices__inp-name:focus {
	border: 0;
	border-bottom: 1px solid #000;
}
.notices__button-row_3 {
	margin-left: 10px;
	display: none;
	background-color: #65DB3B;
}
.notices__content_edit .notices__name {
	display: none;
}
.notices__content_edit .notices__tel {
	display: none;
}
.notices__content_edit .notices__inp-name {
	display: block;
}
.notices__content_edit .notices__inp-tel {
	display: block;
}
.notices__content_edit .notices__button-row_2 {
	display: none;
}
.notices__content_edit .notices__button-row_3 {
	display: flex;
}
.notices__button-row {
   font-size: 12px!important;
}
.notices__left-cont {
	max-width: 370px;
	width: 100%;
}
.notices__button-row_2 {
	margin-left: 10px;
}
.notices__table-hed {
	background-color: #C8E9F2;
	height: 47px;
	line-height: 47px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.notices__col_2:before {
	content: "";
    background-color: rgb(200, 233, 242);
    height: 47px;
    width: 10px;
    position: absolute;
    margin-left: -4px;
}

.notices__col-hed_3:before {
	content: "";
    background-color: rgb(200, 233, 242);
    height: 47px;
    width: 10px;
    position: absolute;
    margin-left: -1px;
}
.notices__table-row {
	display: flex;
}
.notices__numb, .notices__close {
	
}
.notices__table-hed {
	display: flex;
}
.notices__left {
	padding-right: 10px;
}
.notices__right {
	flex-grow: 1;
	max-width: 14%;
}
.notices__right-btt {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.login__error {
	color: #FF734C;
	font-weight: 500;
	font-size: 14px;
	margin-top: 10px;
}
.login__input_err {
	border: 1px solid #FF734C;
}
.login__input_success {
	border: 1px solid #65DB3B;
}
.table__colum_update {
	width: 27px!important;
	text-align: left;
}
.table__colum_update2 {
	width: 27px!important;
	text-align: left;	
}
.table__colum_btt11 {
	margin-right: 11px;
}
.table__colum_btt10 {
    margin-right: 9px;	
}

@media(max-width: 499px) {
	.login__content {
		padding-left: 30px;
		padding-right: 30px;
		border-radius:  0;
	}
}
@media(max-width: 1425px) {

	.notices__colum-1 {
    	flex: 0 0 5%;
	}
	.notices__colum-4 {
    	flex: 0 0 38%;
	}
	.table__rename-inp {
		width: 100%;
	}
	.notices__colum-2 {
	    flex: 0 0 31%;
	    margin-right: 15px;
	}
	.table__rename-inp_mini {
		width: 80%;
	}
}
@media(max-width: 1315px) {
	.function__content {
		max-height: calc(var(--vh, 1vh) * 100 - 470px);
	}	
	.table__rename-inp {
		width: 100%;
	}
	.notices__table {
		display: none;
	}
	.notices__table-mob {
		display: block;
	}

	.table__colum_3 {
		line-height: 1.2;
	}
	.function__message {
		margin-left: 0;
		width: 100%;
		justify-content: flex-start;
	}
	.panel__flex_1, .panel__flex_2, .panel__flex_3 {
		max-width: initial;
	}
	.panel__table {
		margin-top: 0;
	}
	.home__table {
		margin-top: 0;
	}
	.table__colum_btt8 {
		margin-right: 7px;
	}
	.nav {
		align-items: flex-start;	
	}
	.home__table {
		display: flex;
	}
	.panel__table {
		display: flex;
	}
	.nav__btt {
		max-width: initial;
		width: 100%;
	}
	.table__table {
		display: none;
	}
	.table__table_active {
		display: block;
	}
	.table__name {
		display: none;
	}
	.nav__name:after {
		content: "";
		background: url('/img/patch.svg') no-repeat;
		width: 16px;
		height: 8px;
		position: absolute;
		margin-left: 12px;
   		margin-top: 8px;
	}
	.nav__name {
		background-color: rgb(255, 245, 159);
	}
	.nav__btt_hide {
		display: none;
	}
	.home__flex {
		max-width: initial;
		margin-right: 0;
	}
	.home__table {
		flex-wrap: wrap;
	}
	.panel__table {
		flex-wrap: wrap;
	}
	.table__colum {
		width: auto;
	}
	.table__row {
		padding-top: 16px;
		padding-bottom: 16px;
		height: auto;
	}

}
@media(max-width: 1315px) { /*left-bar*/
	/*.table__overflow1 {
		min-height: initial;
	}*/
	.function__row-name {
		margin-bottom: -3px;
	}
	.panel__flex_2 {
		margin-left: 0;
	}
	.table__colum_3 {
		flex-grow: 1;
		text-align: left;
	}
	.table__colum_3 {
		margin:  0 40px;
	}
	.table__colum_mob {
		margin: 0 25px;
	}
	.nav__select_open {
		display: block;
	}
	.aside__mobail {
		display: block;
	}
	body {
		padding-bottom: 200px;
		box-sizing: border-box;
	}
	.header {
		padding-left: 30px;
		padding-right: 30px;
	}
	main {
		padding-left: 30px;
		padding-right: 30px;
	}
	.aside {
		width: 100%;
		bottom: 0;
		height: auto;
		min-height: initial;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 15px 24px;
		border-radius: 16px 16px 0px 0px;

	}
	.aside__center {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		order: 1;
		margin-bottom: 24px;
	}
	.aside__line {
		margin-bottom: 0;
	}
	.aside__bottom {
		order: 3;
	}
	.aside__top {
		order: 2;
	}
	.table__colum_m1 {
		flex-grow: 1;
   		max-width: 256px;
	}
	.table__input-opac {
		width: 250px;
	}
	.toggle {
		margin-right: -2px;
		margin-left: auto;
	}
	.panel__table_1 .table__colum {
		flex: 0 0 33.333%;
	}
	.table__colum_ri {
		text-align: right;
	}
	.table__colum_ri2 {
		display: flex;
		justify-content: flex-end;
		padding-right: 50px;
	}
	.table__colum_ri3 {
		margin-right: -45px;
	}
	.table__colum_ri5 {
		margin-left: -10px;
	}
	.function__select, .function__inputs  {
		margin-top: 10px;
	}
	.function__in {
		flex-wrap: wrap;
	}
	.header__right {
		width: 100%;
		margin-top: 15px;
	}
	.header {
		flex-wrap: wrap;
	}
	.panel__flex_1 .table__colum_flex {
		flex: 0 0 22%;
	}
	.panel__flex_2 .table__colum_flex {
		flex: 0 0 15%;
	}
	.function__btt {
		margin-left: 15px;
	}
	.function__in {
		margin-top: 0;
	}
	.function__select, .function__inputs {
    	margin-top: 13px;
	}
}
@media(max-width: 1000px) {
	.network___flex {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.network__column_right {
		margin-left: 0;
	}
}
@media(max-width: 917px) {

}
@media(max-width: 900px) {

	.nav__btt {
		margin-top: 12px;
	}
		.nav .nav__btt {
		font-size: 15px;
	}
}
@media(max-width: 670px) {
	.function__content {
		max-height: 582px;
		min-height: initial;
	}	
	.table__colum_update2 {
		width: 62px!important;
	}
	.panel__flex_1 .table__colum_flex {
		    flex: 0 0 33.333%;
	}
	.panel__flex_2 .table__colum_flex {
		    flex: 0 0 33.333%;
	}
	.table__colum_btt1 {
		margin-right: 9px;
	}
	.network__button {
		height: 33px;
	}
	.notices__new {
		margin-top: 25px;
	}

	.notices__content {
		padding-bottom: 5px;
	}
	.notices__button-row_2 {
		margin-top: 10px;
		margin-left: 0;
	}
	.notices__button-row_3 {
		margin-top: 10px;
		margin-left: 0;
	}
	.notices__right {
		flex-direction: column;
	}
	.notices__inp {
		margin-top: 15px; 
	}
	.notices__new-title {
		line-height: 1.2;
	}
	.notices {
		max-width: 410px;
		margin: 0 auto;
		margin-top: -17px;
	}
	.notices__button {
		margin-left: 0;
		margin-top: 22px;
		width: 100%;
	}
	.notices__input_right {
		margin-left: 0;
	}
	.notices__input {
		width: 100%;
		margin-top: 10px;
	}
	.notices__inp {
		flex-direction: column;
	}
	.function__row-name {
		margin-left: 8px;
		margin-right: 8px;
	}
	.function__row {
		padding-left: 20px;
		padding-right: 20px;
	}

	.function__rel {
		margin-top: 5px;
		justify-content: center;
	}
	.function__inputs_ort {
		flex-direction: column;
	}
	.function__select_mini1, .function__select_mini2, .function__select_mini3, .function__select_mini4, .function__select_mini5,.function__select_mini6 {
		max-width: initial;
	}
	.function__inputs_mar {
		
	}
	.function__inp-max {
		width: 100%;
	}
	.inputs__inp-min {
		width: 100%;
	}
	.function__inputs_ort .inputs__txt{
		width: 100%;
		text-align: left;
		margin-bottom: 7px;
		margin-left: 8px;
	}
	.function__inputs_ort .inputs__inp-min {
		width: 46%;
	}
	.function__btt {
		max-width: 85px;
		margin-left: 10px;
	}
	.function__name {
		line-height: 1.2;
	}
	.header__right {
		max-width: 375px;
	}
	.inputs__inp {
		width: 100%;
		margin-left: 4px;
	}
	.function__button {
		margin-top: 15px;
		width: 100%;
		margin-left: 15px;
	}
	.function {
		padding-right: 20px;
	}
	.function__inputs {
		margin-left: 4px;
	    margin-right: 4px;
	    width: 100%;
	}
	.inputs__inp-min {
		margin: 0 4px;	
	}
	.function__btt-mess {
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.function__message {
		flex-wrap: wrap;
	}
	.function__select {
		flex-grow: 1;
		margin-left: 8px;
		margin-right: 8px;
	}
	.function__bottom {
		flex-direction: column;
	}
	.function__btt1 {
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.function__btt2 {
		width: 100%;
	}
	.panel__table .table__table_1 .table__colum {
		flex: initial!important;
	}
	.table__colum_ri3 {
		padding-right: 14px;
		margin-right: -10px;
	}
	.panel__title {
		max-width: 385px;
		line-height: 1.2;
		margin: 0 auto;
	}
	.table__colum_m1 {
		flex-grow: 1;
   		max-width: 173px;
	}
	.table__input-opac {
		width: 172px;
	}
	.table__row {
		padding-left: 25px;
		padding-right: 25px;
	}
	.table__top-row {
		padding: 0 25px;
	}
	.home__flex {
		max-width: 385px;
		margin: 0 auto;
	}
	.table__colum_3 {
		margin: 0 10px 0 34px;
	}
	.table__colum_mob {
		margin: 0 15px;
		margin-left: 10px;
    	flex-grow: 1;
	}
	.nav__btt {
		margin-right: 0;
		max-width: 385px;
	}
	.nav {
		align-items: center;
		flex-direction: column;
	}
	.home__title  {
		text-align: left;
		line-height: 1.2;
		max-width: 385px;
    	margin: 0 auto;
	}
	
	.network___flex {
		margin-top: 10px;
	}

	.network__button {
		   width: 100%;
    	margin-top: 18px;
    	margin-left: 0;
	}
	.network__name {
		min-width: 60px;
	}
	.network__row, .network__column  {
		max-width: 385px;
		width: 100%;
		flex-wrap: wrap;
	}
	.network___flex {
		align-items: center;
	}
	.network__title {
		text-align: left;
		max-width: 380px;
		margin: 0 auto;
	}
	.user {
		max-width: 400px;
		margin: 0 auto;
	}
	.user__button {
		line-height: 42px;
		height: 42px;
	}
	.header {
		padding-top: 20px;
		justify-content: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 35px;
	}
	main {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header__left {
		flex-direction: column;
	}
	.user__title {
		text-align: left;
	}
	.user__sub-title {
		text-align: left;
	}
	.header__date-time {
		margin-bottom: 25px;
	}
	.header__controller {
		margin-left: 0;
		max-width: 375px;
    	width: 100%;
    	padding-left: 5px;
	}
	.user__flex {
		flex-direction: column;
	}
	.user__input, .pass__input {
		margin-right: 0;
	    width: 100%;
	    max-width: 380px;
	    height: 37px;
    	line-height: 37px;
	}
	.pass__input {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.header__left {
		width: 100%;
	}
	.header__date-time {
		width: 100%;
		max-width: 385px;
		box-sizing: border-box;
	}
	.user__button {
		width: 100%;
   		max-width: 380px;
	}
	.input {
		font-size: 14px;
	}
	.button1 {
		font-size: 14px;
	}
	.network__input {
		width: 100%;
		margin-top: 10px;
		font-size: 15px;
	}
	.network__input_mac {
		color: #cfd0d5;
    	border: 1px solid #cfd0d5;
	}

	.table__colum_btt,.table__colum_btt9 {
		margin-right: 9px;
	}
	.table__colum_btt11 {
		margin-right: 9px;
	}
	.table__colum_btt10 {
		margin-right: 9px;
	}
	.table__colum_btt3 {
		margin-right: 9px;
	}
	.select {
		font-weight: 500;
    	font-size: 14px;
	}
	.function__rel_mob {
		margin-top: 0px;
	}
	.function__inputs_ort {
		margin-left: 2px;
		margin-right: 2px;
	}
	.function__bottom {
		margin-right: 5px;
		margin-left: 5px;
	}
	.function__btt1, .function__btt2 {
		font-size: 14px;
		height: 38px;
	}
	.function__select {
		margin-right: 4px;
		margin-left: 4px;
	}
	.function__row-name {
    	margin-left: 4px;
    	margin-right: 4px;
	}
	.function__inputs {
		margin-right: 0;
		margin-left: 0;
	}
	.function__inputs_ort .inputs__txt {
		margin-left: 6px;
	}
	.function__inputs_ort .inputs__inp-min {
		width: calc(50% - 8px);
	}
	.function__bottom {
		margin-top: 30px;
	}
	.function__button {
		max-width: 166px;
		width: 100%;
		margin-top: 0;
	}
	.function__message {
		 margin-top: 20px;
  		 margin-bottom: -10px;
	}
	.inputs__txt {
		margin-right: 0;
	}
	.table__colum_pdd-r2 {
		padding-left: 6px;
	}
	.table__colum_pdd-r3 {
		padding-left: 6px;
	}
	.select__option {
		font-weight: 500;
    	font-size: 14px;
    	padding: 9px 13px;
	}
	.select {
		padding: 7px 12px;
	}
	.function__btt-mess {
		font-size: 14px;
		    height: 38px;
		    line-height: 38px;
	}
	.inputs__inp {
		padding-bottom: 2px;
	}

}
@media(max-width: 644px) {
	
	.popup__modal1 {
		width: calc(100% - 20px);
		box-sizing: border-box; 
	}
	.popup__modal1 .popup__butt1{
		 margin-top: 15px;
		 width: 100%;
		 margin-left: 0;
	}
	.popup__modal1 .popup__input1  {
		width: 100%;
		margin-right: 0;
	}
}
@media(max-width: 408px) {
	.popup__modal {
		width: calc(100% - 20px);
    	box-sizing: border-box;
	}
}
@media(max-width: 593px) {
	.popup__flex1 {
		flex-direction: column;
	}
}

@media(max-width: 350px) {
	.notices__button-row {
		width: 100%;
	}
	.notices__right-btt {
		width: 100%;
	}
	.notices__close {
		padding-left: 0;
	}
}
.aside__link_active4 {
	background-color: #24C1EA;
}
.function-dis {
	display: none;
}
.function-act {
	display: block;
}
.header__right {
	display: block;
}